#content{
    width: 100%;
}
.table-responsive{
    border-radius: 8px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.col-ungviendaduyet{
    margin-bottom: 50px;
}
.format-text-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.format-text-heading h4{
    font-weight: 600;
}
.format-thead-background{
    background-color: #000;
    color: #ccc;
}
.format-img-done, .format-img-clear{
    width: 24px;
    height: 24px;
}

.format-btn-dongy, .format-btn-tuchoi{
    display: inline-block;
    margin: 0 20px;
}
.format-td-hoso, .format-td-baidang{
    display: inline-block;
    margin: 0 10px
}
.format-text{
    text-align: center;
}
.format-hoso, .format-baidang{
    color:black
}
.btn-dongy {
    background-color: white;
    color: black;
    border: 2px solid #44A682;
    margin: 2px;
    width: 90px;
    transition-duration: 0.5s;
}
.btn-tuchoi{
    background-color: white;
    color: black;
    border: 2px solid #EE0000;
    margin: 2px;
    width: 90px;
    transition-duration: 0.5s;
}

.button-41:hover {
  background: #00bd68;
}

.btn-dongy:hover{
    background-color: #44A682;
    color:white;
}
.btn-tuchoi:hover{
    background-color: #EE0000;
    color:white;
}

.format-text-dadongy{
    color:#00FF33
}
.format-text-datuchoi{
    color: #EE0000
}
